<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
>
    <testsuites>
        <testsuite name="Streams">
            <directory suffix="Test.php">./vendor/anomaly/streams-platform</directory>
        </testsuite>
        <testsuite name="Application">
            <directory suffix="Test.php">./addons/*/*/*/tests</directory>
        </testsuite>
        <testsuite name="Packages">
            <directory suffix="Test.php">./vendor/anomaly/*/tests</directory>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="false">
            <directory suffix=".php">./vendor/anomaly/*/src/</directory>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./coverage"/>
    </logging>

</phpunit>
