@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-size: 16px;
}

// LastPass Autofill Fix
[autocomplete="off"] + div[data-lastpass-icon-root="true"] {
    opacity: 0 !important;
    display: none !important;
}

[autocomplete="off"] + div[data-lastpass-infield="true"] {
    opacity: 0 !important;
    display: none !important;
}
