:root {
    // Widths 
    --width-aside:300px;
    --width-main:calc(100% - var(--width-aside));

    @each $key, $value in $colors {
        @include generate-color-var($key, $value);
    }

    --color-white:#fff;
    --color-link:var(--color-oxford-50);
}