.o-doc-body {
    @apply mx-auto px-4;
    width: min(1280px, 100%);
}

// We want the content to be more narrow, this is were we control that.
// Any element that has to be narrow like the text, include it in a not.
.o-doc-body *:not(code):not(pre):not(.c-copy-code):not(.c-copy-code__icon),
pre.language-bash {
    width: min(800px, 100%);
    @apply mx-auto;
}


//  ----------------------------------------------------------------------------
//  Documentation Typography settings
//  ----------------------------------------------------------------------------
.o-doc-body {
    --baseline: 0.15vw;
    * {
        font-size: clamp(14px, calc(1rem + var(--baseline)), 21px);
    }
    h1,
    h2,
    h3,
    h4 {
        @apply font-bold;
    }
    h1,
    h2,
    h3 {
        @apply tracking-tighter leading-tight;
    }

    h1 {
        font-size: clamp(28px, calc(3.5rem + var(--baseline)), 64px);
        margin-top: clamp(10px, calc(1.5rem + var(--baseline)), 50px);
        margin-bottom: clamp(10px, calc(0.5rem + var(--baseline)), 20px);
        // color:red;
    }
    h2 {
        font-size: clamp(24px, calc(3rem + var(--baseline)), 42px);
        margin-top: clamp(10px, calc(3rem + var(--baseline)), 50px);
        margin-bottom: clamp(10px, calc(1rem + var(--baseline)), 50px);
        //color:royalblue;
    }

    h3 {
        font-size: clamp(21px, calc(1.5rem + var(--baseline)), 36px);
        margin-top: clamp(10px, calc(2rem + var(--baseline)), 50px);
        margin-bottom: clamp(10px, calc(0.5rem + var(--baseline)), 20px);
        //color:purple;
    }
    h4 {
        font-size: clamp(16px, 18px, 28px);
        margin-top: clamp(10px, calc(1.5rem + var(--baseline)), 50px);
        margin-bottom: clamp(10px, calc(0.5rem + var(--baseline)), 20px);
        //color:yellow;
    }
}



// Common styling for pre and code 
pre,code 
{
    @apply font-mono;
    &,*
    {
        font-size: clamp(14px, calc(14px + var(--baseline)), 21px) !important;
    } 
}
// Style the pre tag
pre {
    
    overflow-x: auto;
    margin-top: clamp(10px, calc(2rem + var(--baseline)), 100px);
    margin-bottom: clamp(10px, calc(4rem + var(--baseline)), 100px);
    background: #1d1f21;
    color: #eee;
    @apply py-6 pb-4 px-8 pr-12 relative;

    &::before{
        position: absolute;
        top:-1px;
        left:0;
        width:20px;
        height:20px;
        display:block;
        content:"";
        background:#FFF;
        clip-path: polygon(100% 0, 0 0, 0 100%);
    }
}

// Style of pre tag if it is bash language
pre.language-bash {
    background: #1d1f21;
    color: #333;
  
    
}
code.language-bash.hljs 
{
    @apply p-0 pb-2;
}

