.c-copy-code 
{
    @apply absolute top-0 right-0 px-2 py-2 text-white;
    &:focus {
        outline: none;
    }
}

//  ----------------------------------------------------------------------------
//  Copy Clipboatd Icon
//  ----------------------------------------------------------------------------
.c-copy-code span 
{
    width: 20px;
    height: 20px;
    display: block;
    object-fit: cover;
    transition: all 200ms ease-in-out;
    background-image: url("data:image/svg+xml,%3Csvg fill='%23fff' xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 32 32' x='0px' y='0px'%3E%3Ctitle%3ETransfer, Copy, Copy file, Paste, interface%3C/title%3E%3Cpath d='M29.79,6.5H27A1.5,1.5,0,0,1,25.5,5V2.21Z'%3E%3C/path%3E%3Cpath d='M10.5,19a.5.5,0,0,0,.5.5h9.5V29A1.5,1.5,0,0,1,19,30.5H3A1.5,1.5,0,0,1,1.5,29V7A1.5,1.5,0,0,1,3,5.5H14.5V9A2.5,2.5,0,0,0,17,11.5h3.5v7H11A.5.5,0,0,0,10.5,19Z'%3E%3C/path%3E%3Cpath d='M19.79,10.5H17A1.5,1.5,0,0,1,15.5,9V6.21Z'%3E%3C/path%3E%3Cpath d='M30.5,7.5V25A1.5,1.5,0,0,1,29,26.5H21.5v-7h4.29l-.79.8-.35.35a.48.48,0,0,0,0,.7.48.48,0,0,0,.7,0l1.93-1.93.07-.07a.42.42,0,0,0,.11-.15h0a.47.47,0,0,0,0-.38h0a.42.42,0,0,0-.11-.15l-.07-.07-1.93-1.93a.49.49,0,0,0-.7.7l.35.35.79.8H21.5V11a.49.49,0,0,0-.15-.35l-6-6A.47.47,0,0,0,15,4.5H11.5V3A1.5,1.5,0,0,1,13,1.5H24.5V5A2.5,2.5,0,0,0,27,7.5Z'%3E%3C/path%3E%3C/svg%3E");
}
.c-copy-code__copied span 
{
    background-image: url("data:image/svg+xml,%3Csvg fill='%237FEFBD' xmlns='http://www.w3.org/2000/svg' data-name='Layer 1' viewBox='0 0 32 32' x='0px' y='0px'%3E%3Ctitle%3ETransfer, Copy, Copy file, Paste, interface%3C/title%3E%3Cpath d='M29.79,6.5H27A1.5,1.5,0,0,1,25.5,5V2.21Z'%3E%3C/path%3E%3Cpath d='M10.5,19a.5.5,0,0,0,.5.5h9.5V29A1.5,1.5,0,0,1,19,30.5H3A1.5,1.5,0,0,1,1.5,29V7A1.5,1.5,0,0,1,3,5.5H14.5V9A2.5,2.5,0,0,0,17,11.5h3.5v7H11A.5.5,0,0,0,10.5,19Z'%3E%3C/path%3E%3Cpath d='M19.79,10.5H17A1.5,1.5,0,0,1,15.5,9V6.21Z'%3E%3C/path%3E%3Cpath d='M30.5,7.5V25A1.5,1.5,0,0,1,29,26.5H21.5v-7h4.29l-.79.8-.35.35a.48.48,0,0,0,0,.7.48.48,0,0,0,.7,0l1.93-1.93.07-.07a.42.42,0,0,0,.11-.15h0a.47.47,0,0,0,0-.38h0a.42.42,0,0,0-.11-.15l-.07-.07-1.93-1.93a.49.49,0,0,0-.7.7l.35.35.79.8H21.5V11a.49.49,0,0,0-.15-.35l-6-6A.47.47,0,0,0,15,4.5H11.5V3A1.5,1.5,0,0,1,13,1.5H24.5V5A2.5,2.5,0,0,0,27,7.5Z'%3E%3C/path%3E%3C/svg%3E");
}
