.c-header-lottie
{
    z-index: 1;
    pointer-events: none;

    width: 100vw;
    height: 100vh;
    @apply absolute top-0 right-0;
}

.c-header-lottie__player
{
    position: absolute;
    right: -10vw;
    bottom: 10vh;

    width: 60vw;
    height: 60vh;
}
.c-header-lottie__bkg
{
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    clip-path: polygon(100% 0, -20% 100%, 100% 100%);
    @apply bg-white;
    opacity:1;
}


.o-header .container
{
    z-index: 2;
}
