:root {
    // Widths 
    --width-aside:300px;
    --width-main:calc(100% - var(--width-aside));
    --color-white:#fff;
    @each $key, $value in $colors {
        @include generate-color-var($key, $value);
    }
}