// Settings used with preprocessors and contain font, colors definitions, etc.
// In this layer is common define the variables that can customize the template.
$colors: (
   color-primary: #0B2F59,
   color-oxford:#04182E,
   color-rich-black:#020912
);

@import "./root";

@font-face{
   font-family: 'JetBrains Mono';
   src: url('/css/fonts/mono/eot/JetBrainsMono-Regular.eot') format('embedded-opentype'),
        url('/css/fonts/mono/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
        url('/css/fonts/mono/woff/JetBrainsMono-Regular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}