// Generic — reset and/or normalize styles, box-sizing definition, etc. It is
// important to note that this is the first layer of the triangle that
// generates CSS.

html {
    overflow-x: hidden;
}

ul:not(.c-list) {
    @apply list-disc my-6;

    // Nested unordered list elements
    li ul {
        @apply my-1 ml-6;
    }
}

a:not(.c-link){
    @apply text-link;
}
* 
{
    outline: none;
    -webkit-tap-highlight-color: transparent;
}